.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  min-width: 100%;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

div.usersContainer {
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px;
}

div.users {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  justify-content: center;
  gap: 8px;
}

div.user {
  flex-wrap: nowrap;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  gap: 4px;

  .username {
    font-weight: 600;
    overflow: hidden;
  }

  .record {
    // font-weight: 600;
    text-align: center;
  }
}

div.usersContainer,
div.picksContainer,
div.rostersContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 10px;
  flex: 1;
}

div.picks,
div.rosters {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  gap: 8px;
  justify-content: center;
}

div.team {
  flex-wrap: nowrap;
  width: 120px;
  height: fit-content;
  gap: 8px;
  overflow: hidden;
}

div.user,
div.pick,
div.player {
  padding: 6px 8px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

div.pick {
  font-size: 10px;

  .value {
    font-weight: 600;
  }
}

div.player {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .name {
    white-space: nowrap;
    font-weight: 600;
    width: 100%;
  }

  .meta {
    font-size: 10px;
    display: flex;

    .info {
      flex: 1;
    }
  }
}

.loadingContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1279px) {
  div.usersContainer,
  div.rostersContainer,
  div.picksContainer {
    padding: 0;
    justify-content: flex-start;
    background-color: transparent !important;
    min-width: 100vw;
    width: fit-content;
  }

  div.users,
  div.picks,
  div.rosters {
    gap: 1px;
    padding: 0;
    flex: 1;
    // justify-content: flex-start;
  }

  div.team {
    gap: 1px;
    width: 120px;
    padding: 0;
  }

  div.userContainer,
  div.pickContainer,
  div.playerContainer {
    width: 100%;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
  }

  div.user,
  div.pick,
  div.player {
    border-radius: 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .appbar {
    height: 64px;
    justify-content: center;
  }
  .leagueName {
    opacity: 0;
  }
}
